<h3></h3>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form action="" class="border   m-5 p-5">
            <h2 class="text-center ">Login Form</h2>
            <div class="m-3">
                <input #acno class="form-control" type="text" [placeholder]=" accplaceholder ">
            </div>
            <div class="m-3">
                <input #pswd class="form-control" type="password" placeholder="Password">
            </div>
            <div class="m-3">
                <input (click)="login(acno,pswd)" class="btn btn-primary" type="button" value="Login">
            </div>
            <div>
                <label for="" class="">Not a user? click here <a href="">Register</a></label>
            </div>
        </form>
       
    </div>
   
    <div class="col-lg-4"></div>
</div>